{{- if or .Params.author site.Params.author -}}
{{- $author := (.Params.author | default site.Params.author) -}}
{{- $authorType := printf "%T" $author -}}
{{- if or (eq $authorType "[]string") (eq $authorType "[]interface {}") -}}
  {{- delimit $author ", " -}}
{{- else if reflect.IsMap $author -}}
  {{- with (index $author "name") -}}
    {{- . -}}
  {{- else -}}
    {{- with (index $author "email") -}}
      {{- . -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- $author -}}
{{- end -}}
{{- end -}}
